* {
    background-color: black;
    color: white;
    font-family: Courier
}

.door-container {
    position: fixed;
    bottom: 20px;       
    right: 20px;        
    margin: 0;      
    padding: 0;
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.door-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.open-door-image {
    z-index: 1;
}

.door-image {
    z-index: 2;
    transform-origin: left center;
    transform-style: preserve-3d;
}

.door-container:hover .door-image {
    animation: openDoor 1.5s 0.5s forwards;
}

.door-container:hover .door-overlay {
    animation: showText 0.5s 1.5s forwards;
}

@keyframes openDoor {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-120deg);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.door-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
  