* {
    font-family: Courier, 'Times New Roman';
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    display: inline-block;
    padding: 10px 24px;
    margin: 6px 0;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: transparent;      /* text hidden so box looks empty */
    text-decoration: none;   /* remove underline */
    min-width: 220px;        /* make all boxes same width, larger than text */
    text-align: center;
    white-space: nowrap;     /* keep text on one line so heights match */
    box-sizing: border-box;
}

.comment {
    font-size: 18px;
    margin-top: 200px;
    margin-left: 50px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
}

b, .word {
    color: rgb(0, 71, 187);
}

.h1 {
    margin-top: 40px;
}

.paragraph {
    font-size: 14px;
    text-align: left;
    margin-right: 104px;
    margin-left: 104px;
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}

main img {
    display: block;
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: rgb(255, 255, 255);      /* white text on black background */
    animation: screenwipe 1s forwards;
  }

a.house-link {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    min-width: auto;
    color: inherit;
}

a.house-link:hover {
    color: inherit;
    animation: none;
}

  @keyframes screenwipe {
    0% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
  }

  @media (max-width: 600px) {
    * {
        font-size: 14px;  /* smaller font on mobile */
    }
}