* {
    background-color: black;
    color: white;
    font-family: Times New Roman;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    color: blue;
}

h1 {
    text-align: center;
    margin-top: 40px;
}


body {
    margin: 40px;
}

.container {
    padding: 10px;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    margin: 5px;
}

.top-item1{
    height: 100%;
    width: 100%;
}

.bathroom {
    border: 5px solid white;
    height: 20%;
    width: 100%;
}
.bedroom1{
    border: 5px solid white;
    height: 30%;
    width: 100%;
}



.top-item2{
    height: 100%;
    width: 130%;
}
.kitchen {
    border: 5px solid white;
    height: 30%;
    width: 100%;
}
.livingroom{
    border: 5px solid white;
    height: 30%;
    width: 100%;
}
.porch{
    border: 5px solid white;
    height: 25%;
    width: 100%;
}



.top-item3{
    height: 100%;
    width: 100%;
}
.bedroom2 {
    border: 5px solid white;
    height: 30%;
    width: 100%;
}
.bedroom3{
    border: 5px solid white;
    height: 30%;
    width: 100%;
}
.garage{
    border: 5px solid white;
    height: 100%;
    width: 100%;
}

