* {
    background-color: yellow;
    color: black;
    font-family: monospace;
}

  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    align-items: center;
}

.poem{
    display: inline-block;
    width: 500px;
    height:50%;
    margin:10px auto;
}

